.section {
  padding: 100px 0;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.title {
  letter-spacing: 3px;
}

.list-card {
  display: flex;
  gap: 24px;
}

.item-title {
  font-size: 40px;
}
